/* This CSS is used in HTML file -> https://gist.github.com/AnkitMaheshwariIn/20954763f4aabdd5524891cb8e0ad01c */
.pins {
    column-count: 2;
    padding: 7px;
    overflow: scroll;
  }
  
  .pin {
    display: inline-block;
    margin: 0 2px 10px;
    padding: 0px;
    background: #f8f8ff;
    // opacity: 0.5;
    
    
  }
  .pin:hover {
    opacity: 1.0;
  }

  div.pin:hover {
    border: 1px solid #777;
  }

  .big-pin {
      width: 100px;
    display: inline-block;
    margin: 0 10px 100px;
    padding: 5px;
    background: #f8f8ff;
  }

  
.pin:focus {
    min-width: 150px;
    width: auto;
}

.option{
    display: flex;
    align-items: stretch; /* Default */
    justify-content: space-between;
    width: 100%;
    background: #010101;
    margin: 0;
    padding: 0;
}

ion-icon {
    font-size: 25px;
  }
