<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="ion-text-center">{{labels.discoverOffers}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-grid *ngIf="isLoading">
    <ion-row>
      <ion-col size="12" size-sm="8" class="ion-text-center">
        <ion-spinner color="primary"></ion-spinner>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid
    *ngIf="!isLoading && (!relevantProperties || relevantProperties.length <= 0)"
  >
    <ion-row>
      <ion-col size="12" size-sm="8" offset-sm="2" class="ion-text-center">
        <p>There are no bookable places right now, please come back later!</p>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid *ngIf="!isLoading && relevantProperties.length > 0">

    <ion-row>
      <ion-col size="12" size-sm="8" offset-sm="2" class="ion-text-center" style="scroll-behavior: auto;">
        <div class="pins" >
          <ion-card class="pin" *ngFor="let property of relevantProperties">
              <img [src]="property.propertyPic" (click)="onEdit(propertyId)">
              <div class="option" *ngIf="editable">
                <ion-icon  name="pencil-outline" (click)="openProperty(property)"></ion-icon>
                <ion-icon  name="trash-outline"></ion-icon>
                <ion-icon  name="share-outline"></ion-icon>
              </div>
          </ion-card>
        </div>
      </ion-col>
    </ion-row>
  
  </ion-grid>

</ion-content>