ion-content {
    --ion-background-color: #f7e5c2;
}

ion-input {
    
    text-align: end;
}
ion-col {
    border: thik solid black;
    }
ion-item {
    margin:0;
   
}

input-error{
    color: gray;
}

ion-label {
    font-size: large;
    text-align: right;
    
}

ion-input {
    color: brown;

}