<!-- <ion-header>
  <ion-toolbar>
    <ion-title>properties</ion-title>
  </ion-toolbar>
</ion-header> -->

<!-- <ion-content> -->
 <ion-tabs>
   <ion-tab-bar slot="bottom">
    <ion-tab-button tab="browser">
     <ion-label>{{labels.search}}</ion-label>
     <ion-icon name=search></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="myproperties">
      <ion-label>{{ labels.display }}</ion-label>
      <ion-icon name="card"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="requests">
        <ion-label>{{labels.request}}</ion-label>
        <ion-icon name="request"></ion-icon>
      </ion-tab-button>
   </ion-tab-bar>
 </ion-tabs>
<!-- </ion-content> -->
