


// .item-input ion-label{
//     pointer-events:all!important;
//   }
// .item .label {
//     margin: 0;
// }
// .clickEnableCls{
//     pointer-events: visible !important;
//  }
// .custom {
//     background-color: #f9e69b;
//   }
ion-label {
    color: gray;
    position:right;
}
.new-account{
    text-decoration: underline;
    text-decoration-color: #F5BD3F ;
    font-family: 'Wael';
    font-size: 20px;
    color: gray;
    text-align: left;
}

.forget-password{
    text-decoration: underline;
    text-decoration-color: gray;
    font-family: 'Wael';
    font-size: 10px;
    color:  rgb(109, 3, 208) ;
    text-align: right;
}
// ion-input {
//     font-family: 'Wael';
//     font-size: 20px;
// }
//    ion-title{
//     font-family: 'Wael';
//     font-size: 20px;
//   }
//   ion-text{
//     font-family: 'Wael';
//     font-size: 15px;
//     color: gray
//   }
//   ion-label{
//     font-family: 'Wael';
//     font-size: 20px;
//   }
  
//     ion-button{
//       font-family: 'Wael';
//       font-size: 20px;
//     }
//     ion-card-title{
//       font-family: 'Wael';
//       font-size: 20px;
//     }
//     p{
//       font-family: 'Wael';
//       font-size: 20px;
//     }
//     h2{
//       font-family: 'Wael';
//       font-size: 20px;
//     }
    