<ion-header>
  <ion-toolbar>
    <ion-buttons>
      <ion-back-button [routerLink]="['/properties/tabs/offers']">
      </ion-back-button>
    </ion-buttons>
    <ion-title text-center>{{ labels.newOffer }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  
<ion-card >
  <form [formGroup]="form">
   
 <ion-grid no-padding style="border-radius: 0">
    <ion-card-header>
   <ion-row>
     <ion-col size-xs="8" offset-xs="2">
        <ion-label text-center> {{ property.propertyName }}</ion-label>
     </ion-col>
   </ion-row>
   </ion-card-header>
   <ion-card-content>
   <ion-row>
     <ion-col size-xs="8" offset-xs="2">
      <ion-item>
        <ion-label text-right position="floating">:{{labels.originalPrice}}</ion-label>
        <ion-label text-left position="floating" style="text-decoration: line-through; text-align: right;"> {{ property.price}}</ion-label>
        <ion-label position="floating">{{ this.labels.price }}</ion-label>
        <ion-input type="text" text-right  formControlName="offerPrice"></ion-input>
      </ion-item>
     </ion-col>
   </ion-row>
   <ion-row>
     <ion-col size-xs="8" offset-xs="2">
        <ion-item>
            <ion-label text-right position="floating">{{ this.labels.startDate }}</ion-label>
            <ion-datetime text-right min="2001-01-01"  autocorrect  formControlName="startDate"></ion-datetime>
          </ion-item>
     </ion-col>
   </ion-row>
   <ion-row>
      <ion-col size-xs="8" offset-xs="2">
         <ion-item>
             <ion-label text-right position="floating">{{ this.labels.endDate }}</ion-label>
             <ion-datetime text-right min="2001-01-01"  autocorrect  formControlName="endDate"></ion-datetime>
           </ion-item>
      </ion-col>
    </ion-row>
    
    <ion-button type="submit" (click)="onSubmit()"><ion-icon name="go"></ion-icon></ion-button>
    <ion-button type="button"  (click)="onCancel()"><ion-icon name="cancel"></ion-icon></ion-button>
  
  </ion-card-content>
 </ion-grid>
</form>
</ion-card>
</ion-content>
