ion-grid{
    margin-left:0 !important;
    margin-right:0 !important;
    ion-row{
        padding: 0 !important; 
        ion-col{
            padding: 0 !important; 
            ion-card{
                border-radius: 10px 10px 10px 10px;
                width:100%;
                height:410px;
                margin-left:10px !important;
                margin-right:10px !important;
                margin-top: 5px;
                margin-bottom: 3px;
                padding: 0 !important; 
                ion-card-header{padding: 0 !important;  border-radius: 10px 10px 0px 0px; }
                ion-card-content{
                    padding: 0 !important;   border-radius: 0px 0px 10px 10px;
                }
            }

        }
    }
}
.first-card{
    margin-top: 10px;
}

ion-card-subtitle{
    text-decoration: line-through;
    color: rgb(247, 223, 117);
}

table {
    table-layout: fixed;
    word-wrap: break-word;
}
.ion-col{
width:100%;
height: 100%;
padding:0;

}
.icon-img{
   width: 35px;
   height: 35px;
   margin: auto;
   display: block;
}
  .main-pic {
    margin:0;
    padding: 0;
    width: 100%;
    height: 150px;
    margin: auto;    
  }

.id-pic{
    width: 30px;
    height: 30px;
    margin: auto;    
    display: block;
}
.thumbnail-pic {
    width: 50px;
    height: 50px;
    
    display: block;
    
}