<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
       <ion-button>{{arabicLabels.previous}}</ion-button>
      
      </ion-buttons>
      <ion-title text-center>{{ arabicLabels.propertySampleView}} </ion-title>
      <ion-buttons slot="end">
        <ion-label button (click)="onSave()" color="success">حفظ</ion-label>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  <ion-content overflow-scroll="false">
      <form [formGroup]="form">
          <ion-grid>
            <ion-row>
              <ion-col>
                  <ion-item>
                      <ion-label stacked text-right position="floating">{{
                        arabicLabels.propertyName
                      }}</ion-label>
                      <ion-input
                        autocomplete
                        autocorrect
                        formControlName="propertyName"
                        type="text"
                      ></ion-input>
                    </ion-item>
                  </ion-col>
                </ion-row>
                <ion-row *ngIf="!form.get('propertyName').valid && form.get('propertyName').touched">
                    <ion-col>
                      <ion-label>{{ arabicLabels.errorpropertyName }}</ion-label>
                    </ion-col>
                  </ion-row>
                <ion-row>
                    <ion-col>
                        <ion-item>
                            <ion-label stacked text-right position="floating">{{
                              arabicLabels.propertyPicture 
                            }}</ion-label>
                            <ion-input
                              autocomplete
                              autocorrect
                              formControlName="propertyPicture"
                              type="text"
                            ></ion-input>
                          </ion-item>
                        </ion-col>
                      </ion-row>
                <ion-row *ngIf="!form.get('propertyPicture').valid && form.get('propertyPicture').touched">
                  <ion-col>
                    <ion-label>{{ arabicLabels.errorpropertyPicture }}</ion-label>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col>
                    <ion-item>
                      <ion-label stacked text-right position="floating">{{
                        arabicLabels.description
                      }}</ion-label>
                      <ion-input
                      type="text"
                        autocomplete
                        autocorrect
                        formControlName="description"
                      ></ion-input>
                    </ion-item>
                  </ion-col>
                </ion-row>
                <ion-row
                  *ngIf="
                    !form.get('description').valid && form.get('description').touched
                  "
                >
                  <ion-col>
                    <ion-label>{{ arabicLabels.errorDescription }}</ion-label>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col>
                    <ion-item>
                      <ion-label stacked text-right position="floating">{{
                        arabicLabels.price
                      }}</ion-label>
                      <ion-input
                      type="text"
                      text-right
                        autocomplete
                        autocorrect
                        formControlName="price"
                      ></ion-input>
                    </ion-item>
                  </ion-col>
                </ion-row>
                <ion-row *ngIf="!form.get('price').valid && form.get('price').touched">
                  <ion-col>
                    <ion-label>{{ arabicLabels.errorPrice }}</ion-label>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col>
                    <ion-item>
                      <ion-label stacked text-right position="floating">{{
                        arabicLabels.type
                      }}</ion-label>
                      <ion-select
                      
                      text-right
                        autocomplete
                        interface="popover"
                        formControlName="type"
                      >
                        <ion-select-option selected value="إيجار"
                          >إيجار</ion-select-option
                        >
                        <ion-select-option value="للبيع">للبيع</ion-select-option>
                      </ion-select>
                    </ion-item>
                  </ion-col>
                </ion-row>
                <ion-row *ngIf="!form.get('type').valid && form.get('type').touched">
                  <ion-col>
                    <ion-label>{{ arabicLabels.errorType }}</ion-label>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col>
                    <ion-item>
                      <ion-label stacked text-right position="floating">{{
                        arabicLabels.address
                      }}</ion-label>
                      <ion-input
                      type="text"
                        autocomplete
                        autocorrect
                        formControlName="address"
                      ></ion-input>
                    </ion-item>
                  </ion-col>
                </ion-row>
                <ion-row
                  *ngIf="!form.get('address').valid && form.get('address').touched"
                >
                  <ion-col>
                    <ion-label>{{ arabicLabels.errorAddress }}</ion-label>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col>
                    <ion-item>
                      <ion-label stacked text-right position="floating">{{
                        arabicLabels.space
                      }}</ion-label>
                      <ion-input
                      type="text"
                        autocomplete
                        autocorrect
                        formControlName="space"
                      ></ion-input>
                    </ion-item>
                  </ion-col>
                </ion-row>
                <ion-row *ngIf="!form.get('space').valid && form.get('space').touched">
                  <ion-col>
                    <ion-label>{{ arabicLabels.errorSpace }}</ion-label>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col>
                    <ion-item>
                      <ion-label stacked text-right position="floating">{{
                        arabicLabels.owner
                      }}</ion-label>
                      <ion-input
                      type="text"
                        autocomplete
                        autocorrect
                        formControlName="owner"
                      ></ion-input>
                    </ion-item>
                  </ion-col>
                </ion-row>
                <ion-row *ngIf="!form.get('space').valid && form.get('owner').touched">
                  <ion-col>
                    <ion-label>{{ arabicLabels.errorOwner }}</ion-label>
                  </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col>
                      <ion-item>
                        <ion-label stacked text-right position="floating">{{
                          arabicLabels.bathrooms
                        }}</ion-label>
                        <ion-input
                        type="text"
                          autocomplete
                          autocorrect
                          formControlName="bathrooms"
                        ></ion-input>
                      </ion-item>
                    </ion-col>
                  </ion-row>
                  <ion-row
                    *ngIf="!form.get('bedrooms').valid && form.get('bedrooms').touched"
                  >
                    <ion-col>
                      <ion-label>{{ arabicLabels.errorBathrooms }}</ion-label>
                    </ion-col>
                  </ion-row>
                <ion-row>
                  <ion-col>
                    <ion-item>
                      <ion-label stacked text-right position="floating">{{
                        arabicLabels.bedrooms
                      }}</ion-label>
                      <ion-input
                      type="text"
                        autocomplete
                        autocorrect
                        formControlName="bedrooms"
                      ></ion-input>
                    </ion-item>
                  </ion-col>
                </ion-row>
                <ion-row
                  *ngIf="!form.get('bedrooms').valid && form.get('bedrooms').touched"
                >
                  <ion-col>
                    <ion-label>{{ arabicLabels.errorBedrooms }}</ion-label>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col>
                    <ion-item>
                      <ion-label stacked text-right position="floating">{{
                        arabicLabels.ketchins
                      }}</ion-label>
                      <ion-input
                      type="text"
                        autocomplete
                        autocorrect
                        formControlName="ketchins"
                      ></ion-input>
                    </ion-item>
                  </ion-col>
                </ion-row>
                <ion-row
                  *ngIf="!form.get('ketchins').valid && form.get('ketchins').touched"
                >
                  <ion-col>
                    <ion-label>{{ arabicLabels.errorKetchins }}</ion-label>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col>
                    <ion-item>
                      <ion-label stacked text-right position="floating">{{
                        arabicLabels.livingrooms
                      }}</ion-label>
                      <ion-input
                      type="text"
                        autocomplete
                        autocorrect
                        formControlName="livingrooms"
                      ></ion-input>
                    </ion-item>
                  </ion-col>
                </ion-row>
                <ion-row
                  *ngIf="
                    !form.get('livingrooms').valid && form.get('livingrooms').touched
                  "
                >
                  <ion-col>
                    <ion-label>{{ arabicLabels.errorLivingrooms }}</ion-label>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col>
                    <ion-item>
                      <ion-label stacked text-right position="floating">{{
                        arabicLabels.gardens
                      }}</ion-label>
                      <ion-input
                      type="text"
                        autocomplete
                        autocorrect
                        formControlName="gardens"
                      ></ion-input>
                    </ion-item>
                  </ion-col>
                </ion-row>
                <ion-row
                  *ngIf="!form.get('gardens').valid && form.get('gardens').touched"
                >
                  <ion-col>
                    <ion-label>{{ arabicLabels.errorGardens }}</ion-label>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col>
                    <ion-item>
                      <ion-label stacked text-right position="floating">{{
                        arabicLabels.garages
                      }}</ion-label>
                      <ion-input
                      type="text"
                        autocomplete
                        autocorrect
                        formControlName="garages"
                      ></ion-input>
                    </ion-item>
                  </ion-col>
                </ion-row>
                <ion-row
                  *ngIf="!form.get('garages').valid && form.get('garages').touched"
                >
                  <ion-col>
                    <ion-label>{{ arabicLabels.errorGarages }}</ion-label>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col>
                    <ion-item>
                      <ion-label stacked text-right position="floating">{{
                        arabicLabels.startDate
                      }}</ion-label>
                      <ion-datetime
                        max="2001-01-01"
                        autocorrect
                        formControlName="startDate"
                      ></ion-datetime>
                    </ion-item>
                  </ion-col>
                </ion-row>
                <ion-row
                  *ngIf="!form.get('startDate').valid && form.get('startDate').touched"
                >
                  <ion-col>
                    <ion-label>{{ arabicLabels.errorStartDate }}</ion-label>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col>
                    <ion-item>
                      <ion-label stacked text-right position="floating">{{
                        arabicLabels.endDate
                      }}</ion-label>
                      <ion-datetime
                        max="2001-01-01"
                        autocorrect
                        formControlName="endDate"
                      ></ion-datetime>
                    </ion-item>
                  </ion-col>
                </ion-row>
                <ion-row
                  *ngIf="!form.get('endDate').valid && form.get('endDate').touched"
                >
                  <ion-col>
                    <ion-label>{{ arabicLabels.errorEndDate }}</ion-label>
        
                    <ion-item-options slot="end">
                      <ion-item-option color="dark">
                        <ion-label><p>تعديل</p></ion-label>
                        <ion-icon name="create" slot="top"></ion-icon>
                      </ion-item-option>
                      <ion-item-option color="dark">
                        <ion-label><p>إعرض</p></ion-label>
                        <ion-icon name="create" slot="top"></ion-icon>
                      </ion-item-option>
                    </ion-item-options>
                  </ion-col>
                </ion-row>
             
          </ion-grid>
        </form>
      </ion-content>
  