@font-face {
    font-family: 'Wael';
    src: url('../assets/fonts/HelpMacNet-Fonts-271.ttf');
    font-weight: 500;
    font-style: normal;
    font-size: 32
  }

  @font-face {
    font-family: 'Alwaleed';
    src: url('../assets/fonts/HelpMacNet-Fonts-490.ttf');
    font-weight: 500;
    font-style: normal;
    font-size: 32
  }

  @font-face {
    font-family: 'Hatem';
    src: url('../assets/fonts/Al\ Tarikh.ttc');
    font-weight: 500;
    font-style: normal;
    font-size: 32
  }