<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button (click)="goBack()"><ion-icon name="arrow-back-outline"></ion-icon></ion-button>
    </ion-buttons>
    <ion-title></ion-title>
    <ion-buttons slot="end">
      <ion-button color="danger" fill="clear" (click)="leave()">
        Leave Chat
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <ion-grid>
      <ion-row *ngFor="let message of messages | async">

        <ion-col size="9" size-md="6" *ngIf="message.data.from !== currentUserId" class="message other-message">
          <b>{{ message.data.user }}</b><br>
          <span>{{ message.data.msg }}
            <img [src]="message.data.file" *ngIf="message.data.file">
          </span>
  
          <div class="time" text-right><br>{{ message.data.createdAt?.toMillis() | date:'short' }}</div>
        </ion-col>
  
        <ion-col offset="3" offset-md="6" size="9" size-md="6" *ngIf="message.data.from === currentUserId" class="message my-message">
          <b>{{ message.data.user }}</b><br>
          <span>{{ message.data.msg }}
            <img [src]="message.data.file" *ngIf="message.data.file">
          </span>
          <div class="time" text-right><br>{{ message.data.createdAt?.toMillis() | date:'short' }}</div>
        </ion-col>
  
      </ion-row>
    </ion-grid>
    <ion-fab vertical="bottom"  horizontal="end" slot="fixed">
      <ion-fab-button (click)="onPickImage()" (imagePick)="onImagePicked($event)">
        <ion-icon name="add"></ion-icon>
      </ion-fab-button>
    </ion-fab>
    
  </ion-content>
  
  <ion-footer>
    <ion-toolbar color="light">
      <ion-row no-padding align-items-center>
        <ion-col size="10">
          <textarea class="message-input" #input rows="1" maxLength="500" (keyup)="resize()" 
          [(ngModel)]="newMsg"></textarea>
          <!-- <app-image-picker [showPreview]="" (imagePick)="onImagePicked($event)"></app-image-picker> -->
          <input accept="image/jpeg"  type="file" *ngIf="usePicker"  #filePicker (change)="onFileChosen($event)" />
      </ion-col>
      <ion-col size="2" text-center>
        <ion-button expand="block" fill="clear" color="primary" [disabled]="newMsg === ''" class="msg-btn" (click)="sendMessage()">
          <ion-icon name="ios-send" slot="icon-only"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer>
